x-dep-website: &website_net
  network_mode: service:website

services:
  website:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
      # args:
      #   - DJANGO_BASH_COMPLETION_FILE=https://raw.iqiq.io/django/django/main/extras/django_bash_completion
      #   - DJANGO_BASH_COMPLETION_FILE=https://raw.kgithub.com/django/django/main/extras/django_bash_completion
      #   - DJANGO_BASH_COMPLETION_FILE=https://ghproxy.com/https://raw.githubusercontent.com/django/django/main/extras/django_bash_completion
      #   - DJANGO_BASH_COMPLETION_FILE=https://fastly.jsdelivr.net/gh/django/django@main/extras/django_bash_completion
      #   - DJANGO_BASH_COMPLETION_FILE=https://cdn.staticaly.com/gh/django/django/main/extras/django_bash_completion
      #   - DJANGO_BASH_COMPLETION_FILE=https://ghproxy.net/https://raw.githubusercontent.com/django/django/main/extras/django_bash_completion
      #   - DJANGO_BASH_COMPLETION_FILE=https://raw.fastgit.ixmu.net/django/django/main/extras/django_bash_completion
      #   - DJANGO_BASH_COMPLETION_FILE=https://gcore.jsdelivr.net/gh/django/django@main/extras/django_bash_completion
      #   - DJANGO_BASH_COMPLETION_FILE=https://jsdelivr.b-cdn.net/gh/django/django@main/extras/django_bash_completion
      #   - DJANGO_BASH_COMPLETION_FILE=https://github.moeyy.xyz/https://raw.githubusercontent.com/django/django/main/extras/django_bash_completion
      # 腾讯云公网
      # args:
      #   - PYPI_MIRROR=https://mirrors.tencent.com/pypi/simple/
      #   - SOURCES_MIRROR=mirrors.tencent.com
      #   - SECURITY_SOURCE_MIRROR=mirrors.tencent.com
      # 腾讯云内网
      # args:
      #   - PYPI_MIRROR=https://mirrors.tencentyun.com/pypi/simple/
      #   - SOURCES_MIRROR=mirrors.tencentyun.com
      #   - SECURITY_SOURCE_MIRROR=mirrors.tencentyun.com
      # 阿里云内网
      # args:
      #   - PYPI_MIRROR=http://mirrors.cloud.aliyuncs.com/pypi/simple/
      #   - SOURCES_MIRROR=mirrors.cloud.aliyuncs.com
      #   - SECURITY_SOURCE_MIRROR=mirrors.cloud.aliyuncs.com
      # 阿里云公网
      # args:
      #   - PYPI_MIRROR=https://mirrors.aliyun.com/pypi/simple/
      #   - SOURCES_MIRROR=mirrors.aliyun.com
      #   - SECURITY_SOURCE_MIRROR=mirrors.aliyun.com
      # 网易
      # args:
      #   - PYPI_MIRROR=https://mirrors.163.com/pypi/simple/
      #   - SOURCES_MIRROR=mirrors.163.com
      #   - SECURITY_SOURCE_MIRROR=mirrors.163.com
      # 豆瓣
      # args:
      #   - PYPI_MIRROR=https://pypi.doubanio.com/simple/

    volumes:
      - ../..:/workspaces:cached
    command: sleep infinity

  redis:
    <<: [*website_net]
    image: redis:alpine
    volumes:
      - redis-data:/data

  postgres:
    <<: [*website_net]
    image: postgres:14-alpine
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=postgres

volumes:
  postgres-data:
  redis-data:
